*.sln text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.xaml text eol=crlf
*.md text eol=crlf
*.py text eol=lf
*.bat text eol=crlf
*.drawio text eol=lf
*.docx binary
*.png binary
*.exe binary
*.dll binary
*.pdb binary
